:root {
    /* font-size */
    --fs-fluid: 0.390625vw;
    --fs-s: calc(8px + 0.390625vw);
    --fs-sm: calc(12px + 0.390625vw);
    --fs-m: calc(14px + 0.390625vw);
    --fs-l: calc(24px + 0.390625vw);
    /* for margin, padding, gap */
    --xxs: 0.2rem;
    --xs: 0.5rem;
    --s: 1rem;
    --sm: 1.5rem;
    --m: 2rem;
    --ml: 2.5rem;
    --l: 3rem;
    /* colors */
    --clr-white: white;
    --clr-grey-100: hsl(0, 0%, 95%);
    --clr-grey-200: hsl(0, 0%, 75%);
    --clr-grey-300: hsl(0, 0%, 55%);
    --clr-grey-400: hsl(0, 0%, 35%);
    --clr-grey-500: hsl(0, 12%, 25%);
    --clr-grey-600: hsl(0, 12%, 20%);
    --clr-grey-700: hsl(0, 12%, 15%);
    --clr-grey-800: hsl(0, 12%, 10%);
    --clr-grey-900: hsl(0, 12%, 5%);
    --clr-accent: hsl(336, 57%, 60%);
    --clr-btn: hsl(180, 100%, 25%);
    --clr-error: hsl(0, 73%, 30%);
    --clr-focus: hsl(180, 80%, 30%);
    --clr-success: hsl(120, 100%, 25%);
    --clr-edit: hsl(200, 60%, 50%);
    --clr-remove: hsl(0, 60%, 50%);
    /* borders */
    --br-rad-xs: 2px;
    --br-rad-s: 5px;
    --br-rad-m: 20px;
    --br-rad-sm: 40px;
    --br-rad-xl: 80px;
    --br-rad-round: 50%;
    /* box shadows */
    --box-shadow: 2px 3px 17px -9px var(--clr-grey-900);
    /* sizes */
    --size-btn: 30px;
    --size-btn-s: 20px;
    --size-btn-add: 80px;
    --size-btn-add_mobile: 100px;
    --size-inner-checkbox: 60%;
    /* heights */
    --height-form: 500px;
    --min-height-reg-btn: 120px;
    --min-height-reg-input: 110px;
    /* width */
    --max-width-input: 120px;
    --min-width-form: 250px;
    --width-btn: 30px;
    /* scales */
    --scale-clicked: scale(0.95);
    --scale-hover: scale(1.05);
    /* transition */
    --trans: 120ms transform ease-in-out;
}