@import url('./shared/fonts.css');
@import url('./shared/normaliser.css');
@import url('./shared/variables.css');
@import url('./elements/Buttons.css');
@import url('./elements/Inputs.css');
@import url('./Form/Frame/Frame.css');
@import url('./Form/Frame/Header.css');
@import url('./Form/Frame/SideImage.css');
@import url('./Form/FormManager.css');
@import url('./Form/Information.css');
@import url('./Form/Selection.css');
@import url('./Form/Picture.css');
@import url('./Form/MultipleEntries.css');
@import url('./Form/Review.css');
@import url('./CV/CV.css');

body {
    background-color: var(--clr-grey-100);
}

.App {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}