:root {
    --cv-accent-color: hsl(345, 61%, 62%);
    --cv-grey-light: hsl(40, 5%, 80%);
    --cv-grey-regular: hsl(40, 5%, 50%);
    --cv-grey-bold: hsl(40, 5%, 20%)
}

.CV {
    align-self: center;
    display: grid;
    width: 600px;
    height: 800px;
    border: 2px solid black;
    grid-template-columns: 375px 175px;
    padding: 25px;
}

.CV__section-title {
    color: var(--cv-accent-color);
    font-family: 'Roboto-Black';
    font-size: 16px;
}

.CV__entry-and-bar-group {
    display: flex;
    flex-direction: row;
    gap: 28px;
}

.CV__entry-title {
    font-family: 'Roboto-Bold';
    color: var(--cv-grey-bold);
    font-size: 12px;
}

.CV__entry-date {
    font-family: 'Roboto-Regular';
    font-size: 12px;
    color: var(--cv-accent-color);
}

.CV__entry-text {
    font-family: 'Roboto-Regular';
    font-size: 12px;
    text-align: left;
    color: hsl(45, 2%, 47%);
}

.CV__bar {
    background-color: hsl(40, 6%, 82%);
    width: 1px;
    height: 100%;
    flex-shrink: 0;
    
}


.CV__left-pane {
    display: grid;
    grid-template-rows: 100px 100px 400px 150px;
    grid-column: 1;
}

.CV__eye-catcher {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.CV__eye-catcher__photo {
    width: 96px;
    height: auto;
    border-radius: 50%;
    box-shadow: 1px 1px 15px -7px #000000;
}

.CV__eye-catcher__name {
    font-family: 'Roboto-Medium';
    font-size: 24px;
}

.CV__eye-catcher__right-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.CV__eye-catcher__localization {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 2px;
}

.CV__eye-catcher__localization-icon {
    width: 8px;
    height: 8px;
    fill: hsl(45, 2%, 47%);
}

.CV__eye-catcher__work-field {
    font-family: 'Roboto-Regular';
    color: var(--cv-accent-color);
    font-size: 12px;
}

.CV__eye-catcher__localization {
    font-family: 'Roboto-Regular';
    color: var(--cv-grey-regular);
    font-size: 12px;

}

.CV__profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 2;
}

.CV_career {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 3;
}

.CV__entries {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.CV__education {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 4;
}

.CV__right-pane {
    grid-column: 2;
    background-color: lightblue;
}