@import './LeftPane.css';
@import './RightPane.css';

:root {
    --cv_clr-accent: hsl(345, 61%, 62%);
    --cv_clr-grey-l: hsl(40, 5%, 80%);
    --cv_clr-grey-r: hsl(40, 5%, 50%);
    --cv_clr-grey-b: hsl(40, 5%, 20%);
    --cv_fs-s: 12px;
    --cv_fs-m: 16px;
    --cv_fs-l: 24px;
    --cv_gap-s: 4px;
    --cv_gap-sm: 8px;
    --cv_gap-m: 16px;
    --cv_gap-l: 24px;
}

.CV,
.CV>* {
    background-color: #ffffff;
}

.CV {
    align-self: center;
    border-radius: 10px;
    display: grid;
    gap: var(--cv_gap-m);
    grid-template-columns: 375px 175px;
    height: 800px;
    padding: 25px;
    width: 600px;
}

.CV__section-title {
    color: var(--cv_clr-accent);
    font-family: 'Roboto-Black';
    font-size: var(--cv_fs-m);
}

.CV__entry-text {
    font-family: 'Roboto-Regular';
    font-size: var(--cv_fs-s);
    text-align: left;
    color: var(--cv_clr-grey-r);
}

#CV-mock__picture {
    animation: appear 3s linear 1s 1 both;
    opacity: 0;
}

.CV-mock__filled-bar {
    fill: grey;
    animation: grow 3s ease-in 1s 1 both;

}

.CV-mock__text-block {
    animation: appear 3s ease-in 1s 1 both;
    opacity: 0;
}

.CV-mock__text-block:hover,
#CV-mock__picture:hover {
    transform: scale(0.99);
    fill: var(--clr-grey-200)
}

.CV-mock__bar:hover {
    animation: shake 0.8s ease-in 1 both;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        fill: #e5e5e5;
    }

    to {
        fill: #d9739c;
    }
}

@keyframes shake {

    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(-1px)
    }

    30% {
        transform: translateX(1px)
    }

    45% {
        transform: translateX(-1px)
    }

    60% {
        transform: translateX(1px)
    }

    75% {
        transform: translateX(-1px)
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 650px) {
    .CV {
        position: absolute;
        pointer-events: none;
        top: 10000px
    }
}