.CV__left-pane {
    display: grid;
    gap: var(--cv_gap-sm);
    grid-column: 1;
    overflow: hidden;
}

.CV__left-pane__section {
    display: flex;
    flex-direction: column;
    gap: var(--cv_gap-sm);
    justify-content: flex-start;
}

.CV__eye-catcher {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    justify-content: flex-start;
    align-items: center;
    gap: var(--cv_gap-m);
}

.CV__eye-catcher__photo {
    width: 96px;
    height: auto;
    border-radius: 50%;
}

.shadowed {
    box-shadow: 1px 1px 15px -7px #000000;
}

.CV__eye-catcher__name {
    font-family: 'Roboto-Medium';
    font-size: var(--cv_fs-l);
    white-space: nowrap;
    max-width: 20ch;
    text-overflow: ellipsis;
    overflow: hidden;
}

.CV__eye-catcher__right-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.CV__eye-catcher__localization {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: var(--cv_gap-s);
}

.CV__eye-catcher__localization-icon {
    width: 8px;
    height: 8px;
    fill: var(--cv_clr-grey-r);
}

.CV__eye-catcher__localization-text {
    white-space: nowrap;
    max-width: 40ch;
    text-overflow: ellipsis;
    overflow: hidden;
}

.CV__eye-catcher__work-field {
    font-family: 'Roboto-Regular';
    color: var(--cv_clr-accent);
    font-size: var(--cv_fs-s);
    white-space: nowrap;
    max-width: 35ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CV__eye-catcher__localization {
    font-family: 'Roboto-Regular';
    color: var(--cv_clr-grey-r);
    font-size: var(--cv_fs-s);
}

.CV__entries {
    display: flex;
    flex-direction: column;
    gap: var(--cv_gap-sm);
}

.CV__entry-and-bar-group {
    display: flex;
    flex-direction: row;
    gap: var(--cv_gap-l);
}

.CV__entry-title {
    font-family: 'Roboto-Bold';
    color: var(--clr-grey-b);
    font-size: var(--cv_fs-s);
    max-width: 50ch;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.CV__entry-date {
    font-family: 'Roboto-Regular';
    font-size: var(--cv_fs-s);
    color: var(--clr-accent);
}

.CV__bar {
    background-color: var(--cv_clr-grey-l);
    width: 1px;
    height: 100%;
    flex-shrink: 0;
}