.buttons-group {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--m);
    justify-content: flex-start;
}

.button {
    appearance: none;
    border: none;
    color: var(--clr-white);
    font-size: var(--fs-sm);
}

.button:active {
    transform: var(--scale-clicked);
}

.button:hover {
    transform: var(--scale-hover);
    cursor: pointer;
}

.next-section.button,
.skip-section.button,
.confirm-crop.button,
.retry.button,
.save-entry.button,
.download.button,
.save-reviewed-section.button {
    background-color: var(--clr-btn);
    border: none;
    grid-column: 1/3;
    min-height: var(--min-height-reg-btn);
    outline: none;
    width: 100%;
}

.save-reviewed-section.button {
    min-height: 80px;
}

.retry.button,
.save-entry.button,
.save-reviewed-section.button {
    background-color: var(--clr-accent);
}

.confirm-crop.button {
    background-color: var(--clr-grey-400);
}

.add-entry.button {
    align-items: center;
    background-color: var(--clr-accent);
    border: none;
    border-radius: var(--br-rad-sm);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    max-height: var(--size-btn-add);
    min-width: 200px;
    padding-right: var(--s);
    position: relative;
    width: fit-content;
}

.add-entry__circle {
    display: grid;
    font-size: 5rem;
    background-color: var(--clr-accent);
    border-radius: var(--br-rad-round);
    height: var(--size-btn-add);
    place-content: center;
    transform: var(--scale-hover);
    width: var(--size-btn-add);
}

.add-entry__text {
    align-items: center;
    border-radius: var(--br-rad-xl);
    display: grid;
    font-size: var(--fs-m);
    height: var(--size-btn-add);
    justify-content: center;
    width: 100%;
    z-index: 1;
}


.add-entry.button.disabled,
.add-entry.disabled>* {
    background-color: var(--clr-grey-200);
    pointer-events: none;
}

@media (max-width: 500px) {
    .add-entry__text {
        display: none;
    }

    .add-entry__circle {
        height: var(--size-btn-add_mobile);
        width: var(--size-btn-add_mobile);
    }

    .add-entry.button {
        min-height: var(--size-btn-add_mobile);
        min-width: var(--size-btn-add_mobile);
        padding-right: 0;
    }
}