input[type='date'] {
    font-size: clamp(12px, var(--fs-sm), 18px);
    opacity: 30%;
}

input[type='date']:focus {
    opacity: 100%;
}

.input-box,
.textbox__box,
.select-input__box {
    background-color: var(--clr-white);
    border-radius: var(--br-rad-s);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    font-size: var(--fs-sm);
    gap: var(--xs);
    height: 100%;
    min-width: var(--max-width-input);
    padding: var(--xs);
    width: 100%;
}

.input-box__label,
.textbox__label,
.select-input__label {
    color: var(--clr-grey-500);
    font-family: 'Roboto-Medium';
}

.input-box__field,
.textbox__field,
.select-input {
    background-color: transparent;
    border: none;
    font-size: var(--fs-sm);
}

.input-box__field:focus,
.textbox__field:focus,
.select-input:focus {
    outline: none;
}

.input-box__field::placeholder,
.textbox__field::placeholder {
    font-size: var(--fs-sm);
    opacity: 30%;
    text-overflow: ellipsis;
}

.input-box-with-dropdown {
    position: relative;
}

.dropdown {
    background-color: var(--clr-white);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column-reverse;
    gap: var(--xxs);
    max-height: 100px;
    overflow: scroll;
    padding: var(--xxs);
    position: absolute;
    width: 100%;
}

.dropdown-item {
    background-color: var(--clr-white);
    border: none;
    color: var(--clr-grey-500);
    font-family: 'Roboto-Regular';
    font-size: var(--fs-input);
}

.label-feedback__box{
    display: flex;
    justify-content: space-between;
    padding-right: var(--s);
}

.feedback {
    color: var(--clr-grey-400);
    font-family: 'Roboto-Regular';
    font-size: var(--fs-sm);
}

.error {
    color: var(--clr-error);
    font-family: 'Roboto-Light';
}

.field.correct {
    outline: var(--br-rad-xs) solid var(--clr-success);
}

.field.focused {
    outline: var(--br-rad-xs) solid var(--clr-focus)
}

.field.incorrect {
    outline: var(--br-rad-xs) solid var(--clr-error)
}