.header {
    align-items: center;
    background-attachment: fixed;
    background-color: var(--clr-white);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: var(--l);
}

.header-icon {
    width: clamp(36px, 3%, 48px);
}

.header.Information {
    background-position: 0px -200px;
}

.header.Picture {
    background-position: 0px -625px;
}

.header.Career {
    background-position: 0px -450px;
}

.header.Hobbies {
    background-position: 0px -550px;
}

@media (max-width: 500px) {
    .header {
        padding: var(--xs);
    }

    .header.Information {
        background-position: -100px -250px;
    }

    .header.Picture {
        background-position: 0px -350px;
    }

    .header.Career {
        background-position: -200px -530px;
    }

    .header.Hobbies {
        background-position: -200px -250px;
    }
}