.home-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--clr-accent);
    color: var(--clr-white);
}


.home-screen__header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    flex-shrink: 0;
}

.home-screen__header__nav {
    margin: auto;
    display: flex;
    font-family: 'Roboto-Light';
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.home-screen__header__nav__list {
    font-size: var(--fs-sm);
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.home-screen__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.home-screen__main__title {
    font-family: 'Roboto-Bold';
    font-size: var(--fs-xl);
    text-align: center;

}

.home-screen__main__description {
    font-family: 'Roboto-Light';
    font-size: var(--fs-m);
    text-align: center;

}

.home-screen .CV-mock {
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow);
}

.CV-mock__wrapper {
    height: fit-content;
    max-height: 800px;
    min-height: 200px;
    width: fit-content;
    max-width: 600px;
    min-width: 200px;
}

footer {
    display: flex;
    font-family: 'Roboto-Light';
    font-size: 10px;
    bottom: 0;
    left: 50%;
    right: 50%;
    width: 100vw;
    justify-content: center;
    opacity: 0.5;
}

a > img {
    width: 10px;
    margin-right: 0.3rem;
}

footer > a {
    text-decoration: none;
    color: var(--clr-white);
}

@media (max-width: 500px) {
    .home-screen__main__title {
        font-size: 24px;
    }

    .CV-mock__wrapper {
        height: 50%;
        width: 50%;
    }
}