.next-section {
    background-color: var(--clr-btn-1);
    border: none;
    color: white;
    grid-column: 1/3;
    height: var(--height-btn-s);
    outline: none;
    width: 100%;
    font-size: var(--s);
}

.next-section:hover {
    cursor: pointer;
}

.next-section:active {
    transform: scale(0.95);
} 