.header {
    display: flex;
    align-items: center;
    padding: var(--l);
    background-color: white;
    height: 80px;
    min-height: 50px;
}

.header-icon {
    width: clamp(36px, 3%, 48px);
}

@media (max-width: 500px) {
    .header {
        padding: var(--xs);
    }
}